[Unit]
Description=Rivnet
After=syslog.target
After=network.target

[Service]
Type=simple
User=rivnet
Group=rivnet
WorkingDirectory=/opt/rivnet
ExecStart=/usr/bin/python3 /opt/rivnet/manage.py runserver 0.0.0.0:8000
Restart=always
Environment=USER=rivnet HOME=/opt/rivnet

[Install]
WantedBy=multi-user.target
